+b.SECTION.about
	.container
		+e.row.row
			.col-12.col-sm-6
				+e.header
					+e.image(src="img/about.jpg")
			.col-12.col-sm-6
				+e.P.title.title-lg 
					span.font-black Кто 
					| мы такие?
				+e.content
					p Здравствуйте. Меня зовут Алла, я основатель компании “ОсвитаМаркет”.

					p Мы верим, что украинские дети - самые талантливые в мире. И потому наша миссия - открывать перед ними двери престижных зарубежных школ, лицеев и техникумов. Помогать поступить и успешно выпуститься.

					p Школы International Baccalaureate - одни из таких учебных заведений. В которые мы помогаем поступить талантливым украинским детям, без колоссального ущерба для родительского кошелька.
				+e.info
					p.font-black Алла Савченко
					p Руководитель компании “ОсвитаМаркет” в Украине
				+e.button
					+b.A.btn._brand-1-large.scroll(href="#") 
						span.font-black Записаться 
						| на консультацию