+b.SECTION.advantages
	.container
		+e.header
			+e.H3.title.title-lg Ключевые 
				span.font-black преимущества 
				| обучения в IB
		+e.content
			.row
				+e.item._right.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/adv-1.svg")
					+e.item-body
						p Обучение на
						br
						| английском языке

				+e.item._top.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/adv-2.svg")
					+e.item-body
						p Концентрация на
						br
						| 6-ти предметах

				+e.item._left.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/adv-3.svg")
					+e.item-body
						p Международная
						br
						| среда обучения