+b.SECTION.advantages
	.container
		+e.header
			+e.H3.title.title-lg Ключевые 
				span.font-black преимущества 
				| обучения в IB
		+e.content
			+e.row.row
				+e.item._right._ball-top._ball-bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-1.svg")
					+e.item-body
						p Обучение на
							br
							| английском языке

				+e.item._top._ball-bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-2.svg")
					+e.item-body
						p Концентрация на
							br
							| 6-ти предметах

				+e.item._left._ball-top._ball-bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-3.svg")
					+e.item-body
						p Международная
							br
							| среда обучения

				+e.item._right._ball-bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-4.svg")
					+e.item-body
						p Программы
							br
							| обмена

				+e.item._bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-5.svg")
					+e.item-body
						p Командная форма
							br
							| работы с наставником

				+e.item._left._ball-bottom.col-12.col-sm-6.col-md-4
					+e.item-header
						+e.item-image(src="img/key-6.svg")
					+e.item-body
						p Международные
							br
							| сертификаты английского