+b.SECTION.answer#section-programm
	.container
		+e.header
			+e.H3.title.title-lg 
				span.font-black Ответы 
				| на популярные вопросы
		+b.collapse
			+e.group.active.wow.fadeInUp
				+e.group-header
					+e.P.group-title С какого возраста можно поступить на программу?
				+e.group-body
					p Программа рассчитана для молодежи 14-16 лет. Поступление на основании свидетельства об окончании 9 классов
			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Можно ли пройти тестирование на возможность обучения в Украине? 
				+e.group-body
					p Тестирование по английскому языку и математике возможно пройти в Украине, в Киеве
			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Какая стоимость обучения?
				+e.group-body
					p Программа подготовительного года Pre-IB - 350 евро в месяц, IB - 450 евро в месяц

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Где проживают дети? Какая стоимость проживания?
				+e.group-body
					p Дети проживают в общежитиях, с которыми заключен договор в учебного заведения. Стоимость проживания в общежитии для детей до 18 лет составляет в среднем 100 евро в месяц. Также есть возможность аренды апартаментов или комнат недалеко от учебного заведения

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Как контролируется учебный процесс и жизнь ребенка вне школы?
				+e.group-body
					p Каждый ребенок имеет юридического опекуна, который помогает в быту и учебе, контролирует безопасность пребывания в стране

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Если ребенок заболел?
				+e.group-body
					p Все дети страхуются в государственной страховой компании  и имеют возможность пользоваться медициной бесплатно

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Можно ли поступить на программу IB без подготовительного года?
				+e.group-body
					p После 10 класса ребенок может поступить сразу на программу если имеет уровень английского С1 или международный сертификат IELTS выше 6.5

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Какие предметы есть на выбор по основной программе?
				+e.group-body
					p После

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Кто преподаватели?
				+e.group-body
					p Преподавательский состав сертифицируется центральным офисом в Швейцарии. Большинство преподавателей имеют степень доктора наук

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Какие навыки развивает программа у детей?
				+e.group-body
					p Навыки критического мышления и учит искусству толерантности к инакомыслию, развивает привычку продолжать образование и самосовершенствование

			+e.group.wow.fadeInUp
				+e.group-header
					+e.P.group-title Как получить поддержку в гарантированном поступлении в учебное заведение?
				+e.group-body
					p Компания OSVITA MARKET, как официальный представитель школ, выполняет весь спектр услуг необходимый для организации процесса поступления и адаптации ребенка за рубежом