+b.SECTION.catching
	+e.header
		+e.P.title.title-lg 
			span.font-black Оставьте заявку 
			| и мы проведем Вас за руку 
			br
			| по всем этапам поступления
	+e.body._1._left
		.container
			include /components/form