+b.SECTION.catching
	+e.header
		+e.P.title.title-lg Что же тогда 
			span.font-black нужно?
		+e.P.subtitle Для начала - оставить свой контакт в форме ниже. 
			br
			| Мы перезвоним и проконсультируем по всем вопросам поступления и обучения
	+e.body._1._left
		.container
			include /components/form