+b.SECTION.catching
	+e.header
		+e.P.title.title-lg 
			span.font-black Оставьте заявку 
			| и мы расскажем как организовать
			br
			| поступление в престижную школу за границей,
			br
			| по доступной цене
	+e.body._3
		.container
			include /components/form