+b.SECTION.catching.wow.fadeInUp(data-wow-delay="0.1s")#section-catching-2
	.container
		+e.header
			+e.P.title.title-lg Остались 
				span.font-black вопросы?
			+e.P.subtitle
				span.font-black Оставьте контакты 
				| и мы проконсультируем Вас бесплатно
	+e.body._2._right
		.container
			include /components/form