+b.SECTION.differences
	.container
		+e.header
			+e.H3.title.title-lg Отличия школы 
				span.font-black International Baccalaureate 
				| от обычной школы/лицея
		+e.content
			+e.content-header-big
				+e.content-header-big-part._highlight
					p Школа IB
				+e.content-header-big-part
					p Обычная школа
			+e.item
				+e.P.item-title Система обучения
				+e.item-row.row
					.col-12.col-sm-6
						+e.P.item-title-mobile._highlight Школа IB
						p Швейцарская система. Упор на глубокое изучение 6 основных предметов и развитие практических навыков, необходимых для успеха в современном мире
					.col-12.col-sm-6
						+e.P.item-title-mobile Обычная школа
						p Устаревшие методики обучения, которым по 20-30 лет. Советское образование действительно было качественным, но оно не подходит для детей, живущих в настолько динамичном мире

			+e.item
				+e.P.item-title Приобретаемые навыки
				+e.item-row.row
					.col-12.col-sm-6
						+e.P.item-title-mobile._highlight Школа IB
						+b.UL.list._check
							li Умение критически мыслить
							li Самостоятельность
							li Активность
							li Свободно говорит как минимум на 2-х языках
							li Может выбирать основные и дополнительные предметы
					.col-12.col-sm-6
						+e.P.item-title-mobile Обычная школа
						+b.UL.list._check
							li Много предметов, нужно учить всё и сразу
							li Нельзя выбирать предметы
							li Выучит английский максимум до среднего уровня
							li Не учится самостоятельности

			+e.item
				+e.P.item-title Перспективы
				+e.item-row.row
					.col-12.col-sm-6
						+e.P.item-title-mobile._highlight Школа IB
						+b.UL.list._check
							li Возможность поступить в ТОПовый мировой ВУЗ (Кембридж, Оксфорд, Гарвард и прочие)
							li Возможность остаться жить и работать в Европе
					.col-12.col-sm-6
						+e.P.item-title-mobile Обычная школа
						+b.UL.list._check
							li Поступление в украинский ВУЗ
							li Долгий поиск работы, с участием в конкурентном отборе среди тысяч соискателей