+b.SECTION.grid-content._reverse
	+e.header.wow.fadeInRight
		+e.IMG.image(src="img/garant.jpg")
	+e.body.wow.fadeInRight(data-wow-delay="0.2s")
		+e.P.title.title-lg.font-black.color-brand-1 Гарантии
		+e.body-content
			p У нас всё просто и прозрачно.
			p Мы гарантируем, что с нашей помощью Ваш ребенок поступит в выбранную школу по программе International Baccalaureate.
			p Если по каким-то причинам поступить не получилось* - возвращаем деньги.
		+e.body-footer
			p * За 7 лет нашей работы, случаев когда ребенок не поступал было всего 2. Это на более 1% поступивших детей.