+b.SECTION.greeting
	+e.part._content
		+e.H1.title 
			| Среднее образование
			br
			| за границей по программе
			br
			| International Baccalaureate
			span.color-brand-1 *
		+e.H2.subtitle
			span.color-brand-1 *
			| Что невозможно по окончании обычной или даже престижной школы за границей.
			br
			| Обучение проводится полностью на английском
	+e.part._bg