+b.SECTION.greeting._header
	+e.part._content.wow.fadeInLeft
		+e.particles#particles-js
		+e.H1.title.wow.fadeInUp(data-wow-delay="0.1s")
			| Среднее 
			span.font-black образование
			br
			span.font-black за границей 
			| по программе
			br
			| International Baccalaureate
			span.color-brand-1 *
		
		+e.H2.subtitle.wow.fadeInUp(data-wow-delay="0.2s")
			span.color-brand-1 *
			| Что невозможно по окончании обычной или даже престижной школы за границей.
			br
			| Обучение проводится полностью на английском
		
		+e.icons

			+e.icon.wow.fadeInUp(data-wow-delay="0.3s")
				+e.icon-image(src="img/greeting-1.svg")
				+e.P.icon-content 
					| Крупнейшая 
					span.font-black мировая система 
					br
					span.font-black образования - 
					br
					| более 4 тыс. школ по всему миру

			+e.icon.wow.fadeInUp(data-wow-delay="0.35s")
				+e.icon-image(src="img/greeting-2.svg")
				+e.P.icon-content
					span.font-black Доступные условия
					br
					span.font-black и цены 
					| для обычной
					br
					| украинской семьи

			+e.icon.wow.fadeInUp(data-wow-delay="0.4s")
				+e.icon-image(src="img/greeting-3.svg")
				+e.P.icon-content 
					| Реальный шанс поступить в 
					br
					span.font-black Оксфорд, Кембридж, Гарвард
					br
					| и другие лучшие ВУЗы*

		+e.button._absolute

			+b.BUTTON.btn._brand-1-large.anchor(href="#section-catching-2") Записаться на консультацию

	+e.part._bg.wow.fadeInRight