+b.SECTION.greeting._header
	+e.part._content
		+e.H1.title 
			| Среднее 
			span.font-black образование
			br
			span.font-black за границей 
			| по программе
			br
			| International Baccalaureate
			span.color-brand-1 *
		
		+e.H2.subtitle
			span.color-brand-1 *
			| Что невозможно по окончании обычной или даже престижной школы за границей.
			br
			| Обучение проводится полностью на английском
		
		+e.icons

			+e.icon
				+e.icon-image(src="img/greeting-1.svg")
				+e.P.icon-content 
					| Крупнейшая 
					span.font-black мировая система 
					br
					span.font-black образования - 
					br
					| более 4 тыс. школ по всему миру

			+e.icon
				+e.icon-image(src="img/greeting-2.svg")
				+e.P.icon-content
					span.font-black Доступные условия
					br
					span.font-black и цены 
					| для обычной
					br
					| украинской семьи

			+e.icon
				+e.icon-image(src="img/greeting-3.svg")
				+e.P.icon-content 
					| Реальный шанс поступить в 
					br
					span.font-black Оксфорд, Кембридж, Гарвард
					br
					| и другие лучшие ВУЗы*

		+e.button

			+b.BUTTON.btn._brand-1-large(data-action="modal" data-open="#modal-form") Записаться на консультацию

	+e.part._bg