+b.SECTION.process
	+e.header
		+e.H3.title.title-lg Как организован
			br
			span.font-black процесс поступления
	.container
		+e.row.row
			+e.item
				+e.item-headline.color-brand-1 Этап 1
				+e.item-content
					+e.P.item-title Первичная консультация
					+e.item-body
						p Вы оставляете заявку на этом сайте. С Вами связывается наш специалист и отвечает на все вопросы

			+e.item
				+e.item-headline Этап 2
				+e.item-content
					+e.P.item-title Личная встреча
					+e.item-body
						p Если Вы из Киева, то приезжаете к нам в офис. Если из регионов - мы связываемся по Skype. Это нужно чтобы познакомиться лично и убедиться в серьёзности намерений, как Ваших, так и наших

			+e.item
				+e.item-headline Этап 3
				+e.item-content
					+e.P.item-title Собеседование
					+e.item-body
						p Назначаем удобное время и проводим онлайн-собеседование ребенка с представителем школы. Это нужно чтобы определить его уровень английского и насколько лично он хочет учиться в такой школе
			+e.item
				+e.item-headline Этап 4
				+e.item-content
					+e.P.item-title Заключение договора и начало подготовки
					+e.item-body
						p Если всё в порядке, мы подписываем официальный договор и начинаем готовиться к поступлению