+b.SECTION.question
	+e.header
		+e.H3.title.title-lg Организационные 
			span.font-black вопросы
	+e.content
		+b.grid-content._reverse
			+e.header.wow.bounceInRight
				+e.IMG.image(src="img/question-1.jpg")
			+e.body.wow.bouceInLeft(data-wow-delay="0.2s")
				+e.P.title.title-lg.font-black Где ребенок будет учиться?
				+e.body-content
					p Мы уже писали выше, что в мире действует более 4,000 школ IB в 160 странах мира. 
					p Наша компания сотрудничает со школами - в Польше, Чехии и Словакии. Мы организуем поступление для Вашего ребенка в любую из понравившихся школ в этих странах.

		+b.grid-content
			+e.header.wow.bounceInLeft
				+e.IMG.image(src="img/question-2.jpg")
			+e.body.wow.bounceInRight(data-wow-delay="0.2s")
				+e.P.title.title-lg.font-black Что нужно для поступления?
				+e.body-content
					+b.UL.list._check
						li Знание английского
						li 
							| Пакет необходимых документов
							br
							| (виза, аттестат и т.д.)

					p Мы помогаем с одним, и с другим.

		+b.grid-content._reverse
			+e.header.wow.bounceInRight
				+e.IMG.image(src="img/question-3.jpg")
			+e.body.wow.bouceInLeft(data-wow-delay="0.2s")
				+e.P.title.title-lg.font-black Где дети живут, питаются?
				+e.body-content
					p Перед поездкой, мы подбираем для ребенка жильё в общежитии или апартаментах возле школы. Дети до 18 лет находятся под присмотром опекуна, которого мы также подбираем для Вас.

					p Питаются в столовой, на территории школы. В рационе полноценное 3-разовое питание

		+b.grid-content
			+e.header.wow.bounceInLeft
				+e.IMG.image(src="img/question-4.jpg")
			+e.body.wow.bounceInRight(data-wow-delay="0.2s")
				+e.P.title.title-lg.font-black Подробнее о процессе обучения?
				+e.body-content
					+b.UL.list._check
						li 1-й год - введение в предметы, упор на изучение английского. Это называется Pre-International Baccalaureate. Остальные 2 года - глубокое изучение выбранных ребенком профильных предметов

						li В одном классе учится до 15 человек

						li В школе преподают учителя, которые имеют соответствующие сертификаты и  прошли обучение в Швейцарии по данной программе

		+b.grid-content._reverse
			+e.header.wow.bounceInRight
				+e.IMG.image(src="img/question-5.jpg")
			+e.body.wow.bouceInLeft(data-wow-delay="0.2s")
				+e.P.title.title-lg.font-black Как быть, если уровень английского не дотягивает?
				+e.body-content
					p Есть 2 варианта:
					+b.UL.list._check
						li Вы находите школу/репетитора и доучиваете язык до необходимого уровня

						li Отправляете ребенка в языковой летний лагерь при выбранной школе. Он отдыхает, привыкает к новому месту, плюс учит язык в естественной среде

					p Поездки в языковые лагеря мы также организовываем.