+b.SECTION.question
	.container
		+e.H3.title.title-lg Организационные 
			span.font-black вопросы
		+e.content
			+b.grid-content
				+e.header
					+e.IMG.image(src="img/student-1.jpg")
				+e.body
					+e.P.title Где ребенок будет учиться?
					+e.body-content
						p Мы уже писали выше, что в мире действует более 4,000 школ IB в 160 странах мира. 
						p Наша компания сотрудничает со школами - в Польше, Чехии и Словакии. Мы организуем поступление для Вашего ребенка в любую из понравившихся школ в этих странах.