+b.SECTION.review#section-review
	.container
		+e.header.wow.fadeInUp
			+e.H3.title.title-lg
				span.font-black Отзывы 
				| детей и родителей
		.row
			+e.item.col-12.col-sm-6.wow.fadeInUp
				+e.IFRAME.item-iframe(src="https://www.youtube.com/embed/LSnO8VjBuTI" frameborder="0" allow="encrypted-media" allowfullscreen)
				+e.P.item-name Богдан
			+e.item.col-12.col-sm-6.wow.fadeInUp(data-wow-delay="1s")
				+e.IFRAME.item-iframe(src="https://www.youtube.com/embed/3tU5kDCSGoM" frameborder="0" allow="encrypted-media" allowfullscreen)
				+e.P.item-name Ольга