+b.SECTION.study
	.container
		+e.header.wow.fadeInUp
			+e.H3.title.title-lg Это 
				span.font-black не просто 
				| “отправить ребенка учиться за границу”...
			+e.H4.subtitle.title-md Потому что школы 
				span.font-black International Baccalaureate 
				| это:

		+e.row.row
			+e.item.col-12.col-sm-4.wow.fadeInUp(data-wow-delay="0.3s")
				+e.item-header
					+e.item-header-inner
						+e.item-image(src="img/study-1.svg")
				+e.P.item-title Перспективы
				+e.item-content
					p Перед ребенком открываются двери лучших мировых ВУЗов. А это равно высокооплачиваемая работа, жизнь в Европе/США и высокий статус в обществе

			+e.item.col-12.col-sm-4.wow.fadeInUp(data-wow-delay="0.5s")
				+e.item-header
					+e.item-header-inner
						+e.item-image(src="img/study-2.svg")
				+e.P.item-title.color-brand-1 Инновации
				+e.item-content
					p Процесс обучения проходит так, что ребенок приобретает новые навыки, не перетруждаясь

			+e.item.col-12.col-sm-4.wow.fadeInUp(data-wow-delay="0.7s")
				+e.item-header
					+e.item-header-inner
						+e.item-image(src="img/study-3.svg")
				+e.P.item-title Общение
				+e.item-content
					p Ребенок учится проводит время с самыми талантливыми детьми из разных стран. Это то окружение, в котором он будет непрерывно расти и развиваться