+b.SECTION.study
	.container
		+e.header
			+e.H3.title.title-lg Это 
				span.font-black не просто 
				| “отправить ребенка учиться за границу”...
			+e.H4.subtitle.title-md Потому что школы 
				span.font-black International Baccalaureate 
				| это:

		+e.row
			+e.item.col-12.col-sm-4
				+e.item-header
					+e.item-image(src="")
				+e.P.item-title Перспективы
				+e.item-content
					p Перед ребенком открываются двери лучших мировых ВУЗов. А это равно высокооплачиваемая работа, жизнь в Европе/США и высокий статус в обществе