+b.SECTION.succeed
	+e.header
		+e.H3.title.title-lg Почему у Вашего ребенка точно 
			| всё получится
		+e.H4.subtitle.title-md Потому что школы 
			span.font-black International Baccalaureate 
			| это:

	.container
		.row
			+e.item.col-12.col-sm-6
				+e.item-inner
					+e.item-inner-content
						+e.P.item-inner-title.title-lg 70%
						+e.item-inner-body
							p 
								| Учеников переезжают жить
								br
								| и работать в страны
								br
								| Западной Европы
			+e.item.col-12.col-sm-6
				+e.item-inner
					+e.item-inner-content
						+e.P.item-inner-title.title-lg Каждый 2-й 
						+e.item-inner-body
							p 
								| Кто окончил школу IB,
								br
								| поступил в престижный
								br
								| ВУЗ после учебы