+b.SECTION.grid-content
	+e.header
		+e.IMG.image(src="img/student-3.jpg")
	+e.body
		+e.P.title Но 
			span.font-black главное 
			| даже не это…
		+e.P.subtitle А то, что Вы можете прямо сейчас отправить своего ребенка в одну из школ по программе International Baccalaureate. И для этого НЕ нужно:
		+e.body-content
			+b.UL.list._check
				li Иметь связи 
				li Платить за образование 1000$ и больше каждый месяц
				li Идеально знать английский