+b.SECTION.grid-content
	+e.header.wow.bounceInLeft
		+e.IMG.image(src="img/student-1.jpg")
	+e.body.wow.bounceInRight(data-wow-delay="0.2s")
		+e.P.title.title-lg Мировая 
			span.font-black система образования меняется 
			| на наших глазах.
		+e.body-content
			p Мы привыкли, что лучшее образование всегда было доступно только избранным.
			p Детям-гениям, тем, у кого есть связи в крутых школах за границей и ну очень обеспеченным родителям.
			p А остальным приходится сдавать своего ребенка максимум в приличный колледж или гимназию.
			p И то, за немаленькие деньги каждый месяц.
		+e.body-footer
			p Но мир меняется с невероятной скоростью. И система образования - в том числе.