+b.SECTION.grid-content._reverse
	+e.header
		+e.IMG.image(src="img/student-2.png")
	+e.body
		+e.P.title.font-black Что значит меняется? О чем речь?...
		+e.P.subtitle Для примера, есть такая программа - 
			span.font-black International Baccalaureate 
			| (сокращенно IB). Вот несколько ключевых фактов о ней:
		+e.body-icons.row
			+e.icon
				+e.icon-header
					+e.icon-image-wrapper
						+e.icon-image(src='img/icon-student-1.svg')
					+e.P.icon-title 
						| Более
						br
						| 4,000
				+e.icon-body
					p Школ по всему миру, в 160+ странах
			+e.icon
				+e.icon-header
					+e.icon-image-wrapper
						+e.icon-image(src='img/icon-student-2.svg')
					+e.P.icon-title 1,000,000+
				+e.icon-body
					p Человек выпускаются из школ IB каждый год

			+e.icon
				+e.icon-header
					+e.icon-image-wrapper
						+e.icon-image(src='img/icon-student-3.svg')
					+e.P.icon-title 
						| 72%
						br
						| учеников
				+e.icon-body
					p Которые оканчивают школы IB, поступают в один из ТОП-500 университетов мира 

			+e.icon
				+e.icon-header
					+e.icon-image-wrapper
						+e.icon-image(src='img/icon-student-4.svg')
					+e.P.icon-title 
						| Единственная
						br
						| сеть школ
				+e.icon-body
					p Дипломы которой принимаются в Оксфорде, Кембридже, Гарварде и других лучших мировых университетах

			+e.icon
				+e.icon-header
					+e.icon-image-wrapper
						+e.icon-image(src='img/icon-student-5.svg')
					+e.P.icon-title 
						| Английский
						br
						| язык обучения
				+e.icon-body
					p Все предметы преподаются на английском, плюс дети могут выбрать себе дополнительно еще несколько ин. языков