+b('about')

	+e('row')

		+min(sm)
			flex-direction: row-reverse
			align-items: center

	+e('title')
		margin-bottom: 30px

	+e('content')
		margin-bottom: 30px

		p:not(:last-child)
			margin-bottom: 15px

	+e('info')
		text-align: right
		margin-bottom: 15px