$greeting-title: ('default': 25px, 'xs': 30px, 'sm': 35px, 'md': 37px, 'lg': 45px)

.greeting

	+min(md)
		display: flex
		flex-flow: row wrap
		align-items: center

	+e('part')

		+m('bg')

			+bg('../img/greeting.jpg')

		+min(md)
			+m('content')
				flex-basis: 0
				flex-grow: 1
				padding-left: 10%
				padding-right: 5%

			+m('bg')
				+size(300px, 700px)
				background-position: 0 0

		+min(lg)

			+m('content')


			+m('bg')
				width: 500px

	+e('title')

		+fs-simple($greeting-title)