%btn-placeholder
	+relative
	display: inline-block
	
	max-width: 100%
	z-index: 1
	overflow: hidden

	+btn-size($btn-default-padding, $btn-default-size)

	border: none
	border-radius: 5px
	
	font-weight: 100
	text-decoration: none
	line-height: 1.4
	
	-webkit-tap-highlight-color: transparent
	outline: none
	transform: translateZ(0)

	+transition


+b("btn")
	@extend %btn-placeholder

	&_lg
			+btn-size($btn-large-padding, $btn-large-size)

	&_shadow
		&-brand-1
			box-shadow: 0 3px 8px 1px transparentize($color-brand-1, 0.5)

		&:hover
			box-shadow: none

	&_nav
		background-color: transparent
		color: $color-white

		+max(md)
			padding: 5px
			width: 100%
			font-size: 10px
			background-color: $color-brand-2

		+min(md)
			+bg('../img/btn_small_brand-1.png')

	&_brand-1-small,
	&_brand-1-large
		color: $color-white

		&:hover
			transform: translateY(5px)

	&_brand-1-large
		display: inline-flex
		align-items: center
		justify-content: center
		
		+bg('../img/btn_large_brand-1.png')


		span
			margin-left: 5px
		
		+min(md)
			min-width: 300px
			min-height: 70px

		+min(lg)
			min-width: 363px
			min-height: 80px
			font-size: 18px

	+btn-static-iteration