extends /extends/layout
block variables
	- var title = 'Среднее образование за границей по программе International Baccalaureate*';
	- var description = 'Среднее образование за границей по программе International Baccalaureate*';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	include /components/nav
block content
	include /components/header