extends /extends/layout
block variables
	- var title = 'Среднее образование за границей по программе International Baccalaureate*';
	- var description = 'Среднее образование за границей по программе International Baccalaureate*';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	include /components/nav
	include /sections/greeting
	include /sections/world-system
	include /sections/world-system-change
	include /sections/world-system-main
	include /sections/catching-1
	include /sections/about
	include /sections/questions
	include /sections/catching-2
	include /sections/differences
	include /sections/catching-3
block content
	include /components/header