-
	const navigation = [
		{
			name: 'Орг.моменты',
			link: '#section-questions'
		},
		{
			name: 'О программе IB',
			link: '#section-programm'
		},
		{
			name: 'Отзывы',
			link: '#section-review'
		}
	];