+b.FORM.form._line(action="handler.php")
	+e.content
		+e.row
			+e.INPUT.control(name="vname" type="text" placeholder="Ваше имя")
		+e.row
			+e.INPUT.control(name="vphone" type="phone" placeholder="Ваш телефон")
		+e.row
			+e.BUTTON.submit.vbtn._color-brand-1(type="submit")
				| Проконсультироваться 
				span.font-black бесплатно